*{

}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.imagen-logo-baner{
width: 90px;
}
.header_nav{
    display: flexbox;
    width: 90%;
    margin: 20px 5% 20px 5%;   
    height: auto;
    background-color: rgb(127, 255, 212);
}
.links-navegador{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
.navs-links{
    display: block;
    padding: 0px;
    margin: 20px;

}
.a-links{
    text-decoration: none;
    color: rgb(22, 22, 22);
}
.a-links:hover{
    color: black;
    scale: 1.2;
}
.navs-links :hover{
    display: block;
    padding: 15px;
    margin: 0px;
    scale: 1.2;

}