body{
    width: 100%;
    height: 3000px;
    
}
.container-fon {
    height: 100%;
}

.container__section-fon {
    /* Take full size */
    width: 100%;

}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.imagen-logo-baner{
width: 90px;
}
.header_nav{
    display: flexbox;
    width: 90%;
    margin: 20px 5% 20px 5%;   
    height: auto;
    background-color: aquamarine;
}